<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <img id="logo" src="https://cdn.vectorstock.com/i/preview-1x/46/41/logo-w-monogram-vector-19934641.webp" alt="" width="">
        <nav>
            <a class="nav-link" href="">Home</a>
            <a class="nav-link" href="">Login</a>
            <a class="nav-link" href="">Registration</a>
        </nav>
    </header>

    <section id="detail"  >
        <div class="detail-card">

            <h1>{{event.event_title}}</h1>
            <p>Location: {{event.location}}</p>
            <p>Date: {{event.date}}</p>
            <p>Description</p>
            <form action="{% url 'eventdetail' event.pk %}" method="POST">
                <h3>Apply for this event</h3>
                {% csrf_token %}
                <!-- <label for="fname">First name</label>
                <input type="text" id="fname" name="fname">
                <label for="lname">Last name</label>
                <input type="text" id="lname" name="lname">
                <label for="mailid">Email</label>
                <input type="email" id="mailid" name="email">
                <label for="">Phone</label>
                <input type="number" id="phone" name="number">
                 -->
                {{form.as_p}}
                <input  class="apply" type="submit" value="Apply" style="background-color: #333 ; color: white;">
            </form>
        </div>
    </section>
    <footer>
        <p>@2023 Event Registration System</p>
    </footer>
</body>
</html>