<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event registration</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <img id="logo" src="https://cdn.vectorstock.com/i/preview-1x/46/41/logo-w-monogram-vector-19934641.webp" alt="" width="">
        <nav>
            <a class="nav-link" href="">Home</a>
            <a class="nav-link" href="">Login</a>
            <a class="nav-link" href="">Registration</a>
        </nav>
    </header>
    <section id="Events">
        {% for event in events %}
        <!-- <div class="event-card">
            <h2>Event Name</h2>
            <p>Event Location</p>
            <p>Event date</p>
            <a href="./event1.html" class="details-btn">Details</a>
        </div> -->
        <div class="event-card">
            <h2>{{event.event_title}}</h2>
            <p>Location : {{event.location}}</p>
            <p>Date : {{event.date}}</p>
            <a href="{% url 'eventdetail' event.pk %}" class="details-btn">Details</a>
        </div>
        {% endfor %}
    </section>
    <footer>
        <p>@2023 Event Registration System</p>
    </footer>
</body>
</html>